.colors {
  --backgroundPrimary: #d9e6f6;
  --backgroundSecondary: #f1f9fe;
  --backgroundTertiary: #ffffff;
  --backgroundQuarternary: #bbcde8;
  --colorPrimary: #2e7bb4;
  --colorSecondary: #388bb0;
  --colorTertiary: #2f4a71;
  --colorQuarternary: #d81d99;
  --textPrimaryColor: #333333;
  --textSecondaryColor: #ffffff;
  --textTertiaryColor: #5a5a5a;
  --textQuarternaryColor: #c5c6ca;
  --commonRadius: 8px;

  --gray1: #333333;
  --gray2: #5a5a5a;
  --gray3: #d3d3d3;
  --gray4: #e6ebff;
  --gray5: #f4f4f4;
}
